@keyframes wobble {
  0% {
    transform: skew(0deg, 0deg) translate(0, 0);
  }
  25% {
    transform: skew(5deg, 5deg) translate(0, 1rem);
  }
  50% {
    transform: skew(-5deg, -5deg) translate(0, 0);
  }
  75% {
    transform: skew(5deg, 5deg) translate(0, 1rem);
  }
  100% {
    transform: skew(0deg, 0deg) translate(0, 0);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1.05, 1.05);
  }
  50% {
    transform: scale(0.95, 0.95);
  }
  75% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes jiggle {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.1, 0.9);
  }
  30% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.05, 0.95);
  }
  57% {
    transform: scale(1, 1);
  }
  64% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Merienda', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 1rem;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}
p {
  line-height: 1.5;
  font-size: 1.8rem;
  padding-bottom: 1rem;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  min-width: 250px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid black;
}
.toggle--bright {
  text-shadow: 0 0 2rem white;
}
header {
  z-index: 5;
  position: fixed;
  width: 100%;
  font-size: 1.6rem;
}
@media (min-width: 1000px ) {
  header {
    width: 100%;
  }
}
header div {
  text-align: end;
  margin-right: 2rem;
  margin-top: 2rem;
}
@media (min-width: 1000px ) {
  header div {
    margin-right: 6rem;
    margin-left: 6rem;
    margin-top: 5rem;
  }
}
header div a {
  color: white;
  font-size: 2.4rem;
  text-decoration: none;
  text-shadow: purple 0px 0px 7px !important;
}
header div a:hover {
  color: teal;
}
nav {
  top: 0;
  display: none;
  min-width: 100%;
  min-height: 100vh;
  z-index: 2;
  background: rgba(32, 31, 31, 0.904);
  font-size: 2.4rem;
}
@media (min-width: 1000px ) {
  nav {
    width: 100%;
  }
}
nav div {
  padding: 3rem 0;
}
nav a {
  color: white;
  padding: 5rem 0;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
.nav--open {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: auto;
  overflow-y: transparent;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}
#escape {
  justify-content: flex-end;
}
nav #logIn {
  padding: 3rem 0;
}
header a button {
  font-size: 2.4rem;
  transition: 1s ease;
  width: 20rem;
  height: 4rem;
  background: white;
  border: 0.2rem solid white;
  color: none;
}
@media (min-width: 1000px ) {
  header a button {
    font-size: 2rem;
    border: 0.5rem solid white;
    width: 30rem;
    height: 8rem;
    font-size: 2.6rem;
  }
}
#escape {
  padding: 0.5rem 0;
}
#escape button {
  border: 0.5rem solid gray;
  background: none;
  color: gray;
  width: 20rem;
  height: 5rem;
  font-size: 2.4rem;
}
@media (min-width: 1000px ) {
  #escape button {
    width: 30rem;
    height: 8rem;
    font-size: 2.6rem;
  }
}
header a button:hover {
  background: rgba(17, 17, 17, 0.863);
  transition: 1s ease;
  color: white;
}
#escape button:hover {
  transition: 2s;
  border-color: teal;
  color: teal;
}
#logIn:hover {
  background: none;
}
footer {
  padding: 2rem;
  background: #1c1c24;
  color: white;
}
footer section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
footer section a {
  font-size: 4rem;
  padding: 2rem;
  text-decoration: none;
  color: #303041;
  text-shadow: purple 0px 0px 7px;
}
footer section a:hover {
  color: teal;
}
footer p {
  border-top: 0.1rem solid white;
  padding-top: 1rem;
  margin-top: 1rem;
  text-align: center;
}
@media (min-width: 1000px ) {
  footer section {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  footer section a {
    font-size: 4rem;
    padding: 4rem;
    text-decoration: none;
    text-shadow: #fd00fd 0px 0px 3px;
  }
  footer section a:hover {
    color: teal;
  }
  footer p {
    text-align: center;
  }
}
@media (min-width: 1000px ) {
  .banner {
    position: relative;
    background-image: url("../img/background.jpeg");
    background-size: cover;
    background-position: bottom;
    width: 100%;
  }
  .banner .banner h1 {
    width: 100%;
  }
}
button {
  cursor: cell;
}
.topInfo {
  text-shadow: 0 0 1rem black;
  padding: 5rem 0 10rem 2rem;
  color: white;
  width: 100%;
  background: #575779;
}
.topInfo h1 {
  border-bottom: 0.2rem solid white;
  width: 95%;
  padding: 5rem 2rem 2rem 2rem;
}
.topInfo p {
  width: 95%;
  padding: 10px;
}
.topInfo button {
  width: 20rem;
  height: 5rem;
  background: #575779;
  border: 0.2rem solid white;
  color: white;
  font-size: 1.6rem;
  transition: 500ms ease;
}
@media (min-width: 1000px ) {
  .topInfo {
    background: #575779;
    opacity: 0.9;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20rem 10rem 20rem 10rem;
  }
  .topInfo .topInfo h1 {
    font-size: 6rem;
  }
  .topInfo button {
    margin-top: 3rem;
    width: 24rem;
    height: 9rem;
    background: #575779;
    border: 0.5rem solid white;
    color: white;
    font-size: 2rem;
    transition: 500ms ease;
  }
  .topInfo button:hover {
    animation: pulse 5s linear infinite;
    box-shadow: 0 0 10rem #380438;
  }
}
.middleContent {
  text-shadow: 0 0 1rem black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-image: url("../img/doors.jpeg");
  background-size: cover;
}
@media (min-width: 1000px ) {
  .middleContent {
    background-image: url("../img/doors.jpeg");
    background-size: cover;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}
.box {
  padding: 10rem 0 10rem 2rem;
  max-width: 100%;
  border-top: 0.1rem solid black;
}
@media (min-width: 1000px ) {
  .box {
    padding: 15rem 0 15rem 3rem;
    color: white;
    border-top: transparent;
  }
}
.box:hover {
  box-shadow: 0 0 2rem black;
}
.box h2 {
  border-bottom: 0.2rem solid white;
  width: 95%;
  padding: 1rem;
}
@media (min-width: 1000px ) {
  .box h2 {
    border-bottom: 0.2rem solid white;
  }
}
.box p {
  width: 95%;
  padding: 1rem;
}
.lastSection {
  color: white;
  background: #303041;
  padding: 5rem 0 10rem 2rem;
  text-shadow: 0 0 1rem black;
}
.lastSection h2 {
  border-bottom: 0.2rem solid white;
  width: 95%;
  padding: 5rem 2rem 2rem 2rem;
}
.lastSection p {
  width: 95%;
  padding: 1rem;
}
.lastSection button {
  width: 20rem;
  height: 5rem;
  background: #575779;
  border: 0.2rem solid white;
  color: white;
  margin-left: 0.4rem;
}
.lastSection button:hover {
  animation: wobble 5s linear infinite;
  transition: 1.5s;
  background-color: #2a2a33;
  box-shadow: 0 0 10rem black;
}
@media (min-width: 1000px ) {
  .lastSection {
    border-top: 5px solid black;
    padding: 10rem 5rem 15rem 20rem;
    color: white;
    opacity: 0.96;
  }
  .lastSection h2 {
    font-size: 6rem;
    border-bottom: 0.2rem solid white;
  }
  .lastSection button {
    font-size: 2.4rem;
    width: 24rem;
    height: 9rem;
    background: #575779;
    border: 0.5rem solid white;
    color: white;
    transition: 3s;
  }
}
.one {
  background-color: #557A95;
  transition: 1s;
}
@media (min-width: 1000px ) {
  .one {
    border-right: 0.1rem solid black;
    width: 48%;
  }
}
.two {
  background-color: #557A95;
  transition: 1s;
}
@media (min-width: 1000px ) {
  .two {
    width: 52%;
  }
}
.three {
  transition: 1s;
  background: #5D5C61;
}
@media (min-width: 1000px ) {
  .three {
    border-top: 0.5rem solid black;
    border-bottom: 0.5rem solid black;
    border-right: 0.1rem solid black;
    width: 52%;
  }
}
.four {
  transition: 1s;
  background: #5D5C61;
}
@media (min-width: 1000px ) {
  .four {
    border-top: 0.5rem solid black;
    border-bottom: 0.5rem solid black;
    width: 48%;
  }
}
.five {
  transition: 1s;
  background: #64485C;
}
@media (min-width: 1000px ) {
  .five {
    border-right: 0.1rem solid black;
    width: 48%;
  }
}
.six {
  transition: 1s;
  background: #64485C;
}
@media (min-width: 1000px ) {
  .six {
    width: 52%;
  }
}
.four a,
.five a {
  color: white;
}
.four a:hover,
.five a:hover {
  color: blue;
}
.one:hover {
  opacity: 0.6;
  transition: 1s;
}
@media (min-width: 1000px ) {
  .one:hover {
    opacity: 0.8;
    transition: 1s;
  }
}
.two:hover {
  opacity: 0.6;
  transition: 1s;
}
@media (min-width: 1000px ) {
  .two:hover {
    opacity: 0.8;
    transition: 1s;
  }
}
.three:hover {
  opacity: 0.6;
  transition: 1s;
}
@media (min-width: 1000px ) {
  .three:hover {
    opacity: 0.8;
    transition: 1s;
  }
}
.four:hover {
  opacity: 0.6;
  transition: 1s;
}
@media (min-width: 1000px ) {
  .four:hover {
    opacity: 0.8;
    transition: 1s;
  }
}
.five:hover {
  opacity: 0.6;
  transition: 1s;
}
@media (min-width: 1000px ) {
  .five:hover {
    opacity: 0.8;
    transition: 1s;
  }
}
.six:hover {
  opacity: 0.6;
  transition: 1s;
}
@media (min-width: 1000px ) {
  .six:hover {
    opacity: 0.8;
    transition: 1s;
  }
}
