//-----------------TOP INTRO SECTION -------------------------------
//__________________________________________________________________

@media @desktop {
    .banner {
        position: relative;
        background-image: url("../img/background.jpeg");
        background-size: cover;
        background-position: bottom;
        width: 100%;

        .banner h1 {
            width: 100%;
        }
    }
}

button {
    cursor: cell;
}

.topInfo {
    padding: 5rem 0 10rem 2rem;
    color: white;
    width: 100%;
    background: rgb(87, 87, 121);

    h1 {
        border-bottom: 2px solid white;
        width: 95%;
        padding: 5rem 2rem 2rem 2rem;
    }

    p {
        width: 95%;
        padding: 10px;
    }

    button {
        width: 20rem;
        height: 5rem;
        background: rgb(87, 87, 121);
        border: .2rem solid white;
        color: white;
        font-size: 1.6rem;
        transition: 500ms ease;
    }

    @media @desktop {
        background: rgb(87, 87, 121);
        opacity: .9;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20rem 10rem 20rem 20rem;
        text-align: center;

        .topInfo h1 {
            font-size: 6rem;
        }

        button {
            margin-top: 3rem;
            width: 24rem;
            height: 9rem;
            background: rgb(87, 87, 121);
            border: .5rem solid white;
            color: white;
            font-size: 2rem;
            transition: 500ms ease;
        }

        button:hover {
            animation: pulse 5s linear infinite;
        }

    }
}

//------------------ MIDDLE BOX CONTENT ----------------------------
//__________________________________________________________________

.middleContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

    @media @desktop {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
}

.box {
    padding: 10rem 0 10rem 2rem;
    max-width: 100%;
    border-top: .1rem solid black;

    @media @desktop {
        padding: 20rem 0 20rem 4rem;
        color: white;
        border-top: transparent;
    }
}

.box h2 {
    border-bottom: .2rem solid white;
    width: 60%;
    padding: 1rem;

    @media @desktop {
        border-bottom: .2rem solid white;
    }
}

.box p {
    width: 60%;
    padding: 1rem;
}

// ----------------------------BOTTOM SECTION OF PAGE ------------------------------------------------

@media @desktop {
    .bannerTwo {
        position: relative;
        background-image: url("../img/beach.jpeg");
        background-position: bottom;
        background-size:cover;
        width: 100%;

        .banner h1 {
            width: 100%;
        }

}
}

.lastSection {
    color: white;
    background: rgb(48, 48, 65);
    padding: 5rem 0 10rem 2rem;

    h2 {
        border-bottom: .2rem solid white;
        width: 95%;
        padding: 5rem 2rem 2rem 2rem;
    }

    p {
        width: 95%;
        padding: 1rem;
    }

    button {

        width: 20rem;
        height: 5rem;
        background: rgb(87, 87, 121);
        border: .2rem solid white;
        color: white;
    }

    @media @desktop {
        border-top: 5px solid black;
        padding: 20rem 5rem 15rem 20rem;
        color: white;
        opacity: .96;

        h2 {
            font-size: 6rem;
            border-bottom: .2rem solid white;
        }

        button {
            font-size: 2.4rem;
            width: 24rem;
            height: 9rem;
            background: rgb(87, 87, 121);
            border: .5rem solid white;
            color: white;
            transition: 3s;
        }


    }

}


// Desktop BOX LAYOUT ---------------------------------
//----------------------------------------------------

@media @desktop {
    .one {
        width: 45%;
    }

    .two {
        width: 55%;
    }

    .three {
        width: 55%;
    }

    .four {
        width: 45%;
    }

    .five {
        width: 45%;
    }

    .six {
        width: 55%;
    }
}






//--------------------BOX COLORS AND BORDERS-------------------------------
//---------------------------------------------------------------

.one {
    // background-color: #ec8d81;
    background-color: #557A95;
    transition: 1s;

    @media @desktop {
        border-right: .1rem solid black;
    }
}

.two {
    // background-color: #3d2813;
    background-color: #557A95;
    transition: 1s;
}


.three {
    // background-color: #6fc3df;
    transition: 1s;
    // background: rgb(87, 87, 121);
    background: #5D5C61;

    @media @desktop {
        border-top: .5rem solid black;
        border-bottom: .5rem solid black;
        border-right: .1rem solid black;
    }

}

.four {
    // background-color: #8d82c4;
    transition: 1s;
    background: #5D5C61;

    @media @desktop {
        border-top: .5rem solid black;
        border-bottom: .5rem solid black;
    }
}

.five {
    transition: 1s;
    // background-color: #8ea9e8;
    background: #64485C;

    @media @desktop {
        border-right: .1rem solid black;
    }

}

.six {
    transition: 1s;
    background: #64485C;

    // background-color: #87c5a4;
}

.one:hover {
    opacity: .8;
    transition: 1s;
}


.two:hover {
    opacity: .8;
    transition: 1s;
}


.three:hover {
    opacity: .8;
    transition: 1s;
}

.four:hover {
    opacity: .8;
    transition: 1s;
}



.five:hover {
    opacity: .8;
    transition: 1s;
}



.six:hover {
    opacity: .8;
    transition: 1s;
}

.lastSection button:hover {
    animation: wobble 5s linear infinite; // <-------------------------------- animation WOBBLE
    transition: 1.5s;
    background-color: rgb(42, 42, 51);
}